form {
    margin: 0;
    text-align: center;
    }

/*Necessary div container nesting for center the content <center
tag is deprecated!>*/
.mainContainer{
    display: block;
    position: center;
}

main h1 {
    text-align: center;
}

.formContainer {
    margin: 0;
    width: inherit;
}

/* Makes responsive fields. Sets size and field alignment.*/
input, select{
    display: block;
    margin: auto;
    width: 25%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
    }

input[type="number"], input[type="date"], textarea{
    display: block;
    width: 445px;
    margin: auto;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
}

textarea {
    resize: none;
}

input[type=submit] {
    border-radius:5px;
    border:1px solid #FE9E00;
    background-color: #FEAE00;
    color: aliceblue;
    font-size:15px;
    cursor:pointer;
    width: 508px;
}

input[type=submit]:hover {
    background-color: #FE7300;
    }

#actionBtnForms {
    margin:auto;
    width: 478px;
}
